extends layouts/site

block content
    +b('div').header
        .container
            .row.justify-content-center
                .col-12.col-sm-12.col-md-6.col-lg-6
                    +b('nav').nav
                        +e('ul').list
                            +e('li').item
                                +e('a').link(href="#") <span class="first-link active-link">1</span> Услуги
                            +e('li').item
                                +e('a').link(href="#") <span class="second-link">2</span> Калькулятор
                            +e('li').item
                                +e('a').link(href="#") <span class="third-link">3</span> Заявка
    +b('div').slider
        .container
            .row.justify-content-center
                .col-12.col-sm-12.col-md-6.col-lg-6
                    .slider.single-item
                        +b('section').first-slide
                            +e('p').desc Кликните на значок <img class="desc-img" src="/img/theme/icons/i.png"> если какой-нибудь вопрос вызывет сложности - выпавшая подсказка поможет вам сориентироваться.
                            +b('div').check-block
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="one" value="")#first-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Копка ям
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="two" value="")#second-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Вывоз грунта
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="three" value="")#third-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Вывоз строительного мусора
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="four" value="")#fourth-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Перемещение сыпучего материала
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="five" value="")#fifth-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Копка ям для растений (вручную)
                                +b('label').checkbox-radio-label
                                    +e('input').checxbox-input(type="checkbox" name="six" value="")#six-check
                                    +e('span').checxbox-cover
                                    +e('span').checkbox-text Корчевание деревьев


                        +b('section').second-slide

                            +b('div').main-block#first-block
                                +e('h2').title Копка ям
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой объем планируется выопать?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой способ копки?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="hand" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="hand" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватор
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой тип земли?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Рыхлая земля
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Глинистая, мокрая рыхлая
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Сухая глина, каменистая почва
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Что сделать с выкопанной землей?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type-what" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Оставить на месте копки
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type-what" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Переместить
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="land-type-what" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Вывезти
                                    .row.no-gutters.standart-padding-no-border
                                        .col-12
                                            +b('div').price-block
                                                +e('div').for-digger За копку: <span id="for-digger-pit">10 524</span>
                                                +e('div').value Объем выкопанного грунта: <span id="value-pit">369 </span> м<sup>3</sup>
                                                +e('div').total Всего за копку ям: <span id="total-pit">10 524</span>
                                                +e('p').desc Минимальный заказ на ручную копку-500 руб.
                                                +e('p').desc При первом заказе минимальная сумма может быть меньше.



                            +b('div').main-block#second-block
                                +e('h2').title Вывоз грунта
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой объем планируется вывезти?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Способ перемещения?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Переместим сами
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватор
                                    .row.no-gutters.standart-padding.alert
                                        .col-7
                                            +e('div').mini-title Какой способ погрузки?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Погрузим сами
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватор
                                    .row.no-gutters.standart-padding-no-border
                                        .col-12
                                            +b('div').price-block
                                                +e('div').for-digger За вывоз: <span id="for-digger-pit">10 524</span>
                                                +e('div').for-digger За погрузку: <span id="for-digger-pit">10 524</span>
                                                +e('div').total Всего за копку ям: <span id="total-pit">10 524</span>




                            +b('div').main-block#third-block
                                +e('h2').title Вывоз строительного мусора
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Объем строительного мусора?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой способ перемещения?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Перемещение не требуется
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Переместите сами
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой способ погрузки?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Погрузим сами
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move-trash" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватор
                                    .row.no-gutters.standart-padding-no-border
                                        .col-12
                                            +b('div').price-block
                                                +e('div').for-digger За вывоз: <span id="for-digger-trash">10 524</span>
                                                +e('div').for-digger За погрузку: <span id="for-digger-trash">10 524</span>
                                                +e('div').total Всего за вывоз строительного мусора: <div id="total-trash">10 524</div>





                            +b('div').main-block#fourth-block
                                +e('h2').title Перемещение сыпуч. материала
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Что планируется переместить?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Землю
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Песок
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Строительный мусор
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Щебень
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой объем планируется переместить?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой способ погрузки?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Ручной
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="move-material" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватор
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title На сколько?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-6
                                            +e('div').mini-title В метрах
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                        .col-6
                                            +e('div').mini-title В шагах
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding-no-border
                                        .col-12
                                            +b('div').price-block
                                                +e('div').total Всего за перемещение: <div id="total-trash">10 524</div>





                            +b('div').main-block#fifth-block
                                +e('h2').title Копка ям для растений (вручную)
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Малых ям
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                        .col-7
                                            +e('div').mini-title Средних ям
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                        .col-7
                                            +e('div').mini-title Больших ям
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какой тип земли?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="what-type-ground" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Рыхлая земля
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="what-type-ground" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Глинистая или мокрая земля
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="what-type-ground" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Сухая глина или каменистая почва
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Что делать с вырытым грунтом?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-grunt" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Оставить на месте
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-grunt" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Переместить
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="transport-grunt" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Вывезти
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Какая дальность перемещения?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-6
                                            +e('div').mini-title В метрах
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                        .col-6
                                            +e('div').mini-title В шагах
                                        .col-5
                                            +b('div').counter
                                                +e('div').minus -
                                                +e('input').input(placeholder="0") -
                                                +e('div').plus +
                                    .row.no-gutters.standart-padding-no-border
                                        .col-12
                                            +b('div').price-block
                                                +e('div').for-digger За копку: <span id="for-digger-pit">10 524</span>
                                                +e('div').for-digger За перемещение: <span id="for-digger-pit">10 524</span>
                                                +e('div').total Всего за копку ям для растений: <span id="total-trash">10 524</span>




                            +b('div').main-block#six-block
                                +e('h2').title Корчевание деревьев
                                +e('div').main-title-block
                                    .row.no-gutters.standart-padding
                                        .col-7
                                            +e('div').mini-title Как?
                                                <img class="desc-img" src="/img/theme/icons/i.png">
                                                <div class="popup">Здесь будут когда-нибудь подсказки к этому разделу!</div>
                                        .col-12
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="what-type-three" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Вручную
                                            +b('label').checkbox-radio-label
                                                +e('input').checxbox-input(type="radio" name="what-type-three" value="")
                                                +e('span').checxbox-cover.round
                                                +e('span').checkbox-text Экскаватором






                        +b('section').third-slide
                            +e('div').desc 1. Личная информация
                                +e('input').input(type="tel" placeholder="Введите Ваш телефон")
                                +e('input').input(type="text" placeholder="Введите Вашу почту")
                                +e('input').input(type="text" placeholder="Код на скидку")
                            +e('div').desc 2. Оставить заявку
                            +e('div').map
                                +e('img').img(src="/img/content/map.png")
    +b('div').footer
        .container
            .row.justify-content-center
                +e('div').desc-black всего: <span id="total-black">999 999 </span> р.
                +e('div').desc рассчитать стоимость