//+b('div').footer
//    .container
//        .row.justify-content-center
//            +e('div').desc-black всего: <span id="total-black">999 999 </span> р.
//            +e('div').desc рассчитать стоимость