@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto.ttf");
  src: url("../fonts/roboto/Roboto.woff2") format("woff2"), url("../fonts/roboto/Roboto.woff") format("woff"), url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotolight.ttf");
  src: url("../fonts/roboto/Robotolight.woff2") format("woff2"), url("../fonts/roboto/Robotolight.woff") format("woff"), url("../fonts/roboto/Robotolight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotothin.ttf");
  src: url("../fonts/roboto/Robotothin.woff2") format("woff2"), url("../fonts/roboto/Robotothin.woff") format("woff"), url("../fonts/roboto/Robotothin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotomedium.ttf");
  src: url("../fonts/roboto/Robotomedium.woff2") format("woff2"), url("../fonts/roboto/Robotomedium.woff") format("woff"), url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotobold.ttf");
  src: url("../fonts/roboto/Robotobold.woff2") format("woff2"), url("../fonts/roboto/Robotobold.woff") format("woff"), url("../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Regular';
  src: url("../fonts/fontawesome/fa-regular-400.eot");
  src: url("../fonts/fontawesome/fa-regular-400.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-regular-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-regular-400.woff") format("woff"), url("../fonts/fontawesome/fa-regular-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-regular-400.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Solid';
  src: url("../fonts/fontawesome/fa-solid-900.eot");
  src: url("../fonts/fontawesome/fa-solid-900.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-solid-900.woff2") format("woff2"), url("../fonts/fontawesome/fa-solid-900.woff") format("woff"), url("../fonts/fontawesome/fa-solid-900.ttf") format("truetype"), url("../fonts/fontawesome/fa-solid-900.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome Brands';
  src: url("../fonts/fontawesome/fa-brands-400.eot");
  src: url("../fonts/fontawesome/fa-brands-400.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.woff2") format("woff2"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-brands-400.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  background: white;
  font: 400 1rem/1.125rem Roboto, sans-serif;
  color: #222328; }

header {
  padding: 0 15px; }

p {
  font: inherit;
  margin: 0; }

b, strong {
  color: inherit;
  font: 500 1rem/1.125rem Roboto, sans-serif; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

fieldset {
  border: 0; }

label {
  margin: 0; }

a, button, input {
  outline: 0; }
  a:focus, button:focus, input:focus {
    outline: 0; }

textarea {
  resize: none;
  outline: 0; }

a {
  color: #0059e2;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:focus {
    color: #0059e2;
    text-decoration: none;
    -webkit-transition: all 0.33s;
    transition: all 0.33s;
    opacity: 0.7; }

img {
  max-width: 100%; }

blockquote {
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

input::-webkit-input-placeholder {
  color: #727272;
  font: 500 0.75rem/1.125rem Roboto, sans-serif; }

input::-moz-placeholder {
  color: #727272;
  font: 500 0.75rem/1.125rem Roboto, sans-serif; }

figure {
  margin: 0; }

body::-webkit-scrollbar-thumb {
  background-repeat: no-repeat;
  background-color: #cb6316;
  border-radius: 10px; }

body::-webkit-scrollbar {
  height: 7px;
  width: 7px; }

.standart-padding {
  padding: 1rem 0 1rem 0;
  position: relative; }
  .standart-padding:after {
    content: '';
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 2px;
    border-bottom: 1px solid #b7b3b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0; }

.standart-padding-no-border {
  padding: 1rem 0 1rem 0; }

.alert {
  margin: 0 -1rem;
  padding: 1rem;
  background-color: #f7f5f5;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
  background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
  .alert:after {
    content: '';
    padding: 1rem;
    width: 89%;
    text-align: center;
    margin: 0 auto;
    height: 2px;
    border-bottom: 1px solid #b7b3b3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0; }

.desc-img {
  cursor: pointer;
  position: relative; }

.popup {
  width: 172%;
  z-index: 2;
  font: 500 0.8125rem/1.125rem Roboto, sans-serif;
  position: absolute;
  top: 30px;
  left: 0;
  display: none;
  padding: 5px;
  border: 1px solid #333;
  border-radius: 4px;
  -webkit-box-shadow: 1.5px 2.6px 1.5px 0.5px rgba(133, 133, 133, 0.8);
  box-shadow: 1.5px 2.6px 1.5px 0.5px rgba(133, 133, 133, 0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e5e5e5));
  background: linear-gradient(to bottom, white 0%, #e5e5e5 100%); }

 #second-block, #third-block, #fourth-block, #fifth-block, #six-block {
  display: none; }

.slick-next, .slick-next:focus, .slick-next:hover, .slick-prev, .slick-prev:focus, .slick-prev:hover {
  display: none !important; }

.slick-slide img {
  display: initial !important; }

.slider {
  overflow-y: inherit !important;
  height: auto !important; }

.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  -webkit-transition: all 0.33s;
  transition: all 0.33s; }
  .button:hover, .button:focus {
    text-decoration: none; }

.checkbox-radio-label {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0.5rem 0; }
  .checkbox-radio-label__checkbox-text {
    font: 500 0.8125rem/1.375rem Roboto, sans-serif; }
  .checkbox-radio-label__checxbox-input {
    position: absolute;
    opacity: 0; }
    .checkbox-radio-label__checxbox-input:checked + .checkbox-radio-label__checxbox-cover {
      background-color: #d97925;
      border: 2px solid #d97925; }
      .checkbox-radio-label__checxbox-input:checked + .checkbox-radio-label__checxbox-cover.round {
        border-radius: 50%; }
  .checkbox-radio-label__checxbox-cover {
    vertical-align: middle;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 2px solid #dfdfdf;
    background-clip: content-box;
    color: #bdbdbd;
    cursor: pointer;
    margin-right: 0.625rem; }
    .checkbox-radio-label__checxbox-cover.round {
      border-radius: 50%; }

main {
  height: 100vh; }

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1rem; }
  .counter__input {
    max-width: 2.1875rem;
    border: 1px solid #b7b3b3;
    text-align: center; }
  .counter__minus {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #b7b3b3;
    text-align: center;
    font: 400 1.125rem/1.25rem Roboto, sans-serif;
    cursor: pointer; }
  .counter__plus {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #cb6316;
    color: white;
    text-align: center;
    font: 400 1.125rem/1.25rem Roboto, sans-serif;
    cursor: pointer; }

.check-block {
  padding-bottom: 2rem; }

.desc-img {
  margin: 0 3px; }

.first-slide {
  padding-top: 1rem; }
  .first-slide__desc {
    font: 500 0.75rem/1.125rem Roboto, sans-serif;
    margin-bottom: 1rem; }

.footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left: -285px;
  width: 100%;
  min-height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .footer__desc {
    width: 100%;
    text-align: center;
    font: 500 0.8125rem/1.375rem Roboto, sans-serif;
    text-transform: uppercase;
    padding: 1rem 0;
    cursor: pointer;
    background-color: #cb6316; }
  .footer__desc-black {
    width: 100%;
    background-color: #222328;
    text-align: left;
    font: 500 0.8125rem/1.375rem Roboto, sans-serif;
    text-transform: uppercase;
    padding: 1rem 2rem;
    display: none;
    color: white; }
    .footer__desc-black > span {
      font: 700 0.8125rem/1.375rem Roboto, sans-serif; }

.header {
  padding: 0 0.9375rem;
  border-bottom: 1px solid #b7b3b3; }

.main-block {
  margin-bottom: 1rem; }
  .main-block__title {
    background-color: #cb6316;
    padding: 0.625rem 0.9375rem;
    color: white;
    font: 500 1rem/1.375rem Roboto, sans-serif; }
  .main-block__main-title-block {
    padding: 0 0.9375rem 1px 0.9375rem;
    background-color: #f7f5f5; }
  .main-block__title-block {
    background-color: #f7f5f5;
    border-bottom: 1px solid #b7b3b3; }
  .main-block__mini-title {
    font: 500 0.75rem/1rem Roboto, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.nav {
  padding: 1rem 0; }
  .nav__link {
    color: #222328;
    font: 500 0.6875rem/1.2rem Roboto, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav__link > span {
      width: 1.125rem;
      height: 1.125rem;
      background-color: #b7b3b3;
      border-radius: 50%;
      margin-right: 0.5rem;
      text-align: center;
      color: white;
      font: 500 0.6875rem/1.2rem Roboto, sans-serif; }
      .nav__link > span.active-link {
        background-color: #cb6316; }
    .nav__link:hover, .nav__linkfocus {
      color: #222328; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .nav__item {
    padding-right: 1rem;
    cursor: pointer; }

.price-block {
  text-align: right; }
  .price-block__for-digger {
    font: 700 0.8125rem/0.9375rem Roboto, sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .price-block__value {
    font: 700 0.6875rem/0.8125rem Roboto, sans-serif;
    margin-bottom: 0.4rem; }
    .price-block__value > span {
      font: 700 0.6875rem/0.8125rem Roboto, sans-serif; }
    .price-block__value > sup {
      font: 700 0.5rem/0.5rem Roboto, sans-serif; }
  .price-block__total {
    font: 700 1rem/1.125rem Roboto, sans-serif;
    text-transform: uppercase;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem; }
  .price-block__desc {
    font: 700 0.6875rem/0.8125rem Roboto, sans-serif; }

.slider {
  overflow-y: auto;
  height: calc(100vh - 10rem); }
  .slider::-webkit-scrollbar-thumb {
    background-repeat: no-repeat;
    background-color: #cb6316;
    border-radius: 10px; }
  .slider::-webkit-scrollbar {
    height: 7px;
    width: 7px; }

.second-slide {
  padding: 0.9375rem 0 0 0;
  margin-bottom: 6rem; }

.third-slide {
  padding: 1rem; }
  .third-slide__desc {
    font: 500 0.75rem/1.125rem Roboto, sans-serif;
    margin-bottom: 1rem; }
    .third-slide__desc.second {
      margin-bottom: 1rem; }
  .third-slide__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #b7b3b3;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem; }
  .third-slide__img {
    width: 100%; }

.card {
  height: 30rem;
  border: 1px solid #b3b3b3;
  border-radius: 3.125rem;
  margin: 0 auto 1rem auto; }
  .card:hover, .card:focus {
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: scale3d(1.01, 1.01, 1);
            transform: scale3d(1.01, 1.01, 1);
    -webkit-box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2), 0 6px 40px 0 rgba(0, 0, 0, 0.15); }
  .card__img-block {
    border-top-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    width: 100%;
    height: 13.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden; }
  .card__effective-block {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .card__effective-block-total {
      text-transform: uppercase; }
    .card__effective-block-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .card__effective-block-left {
      min-width: 13.75rem;
      position: relative; }
      .card__effective-block-left:before {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transform: translate(-30%, -13%);
                transform: translate(-30%, -13%);
        display: block;
        font: 100 6.5rem/7rem Roboto, sans-serif;
        background-size: 2rem;
        content: '}';
        cursor: pointer; }
    .card__effective-block-total {
      font: 400 1rem/1.4rem Roboto, sans-serif; }
    .card__effective-block-arg {
      font: 400 0.9rem/1.5rem Roboto, sans-serif; }
  .card__img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .card__title-block {
    padding: 1.5rem 1rem 0 1rem; }
  .card__link-online {
    padding-top: 0.2rem;
    text-align: center;
    font: 400 1rem/1.2rem Roboto, sans-serif; }
  .card__link {
    font: 500 1.9rem/2.1rem Roboto, sans-serif;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem; }
    .card__link.b-line {
      padding-bottom: 0.4rem;
      margin-bottom: 0.4rem;
      border-bottom: 3px solid #0059e2; }

@media screen and (min-width: 1200px) {
  html {
    font-size: 20px; }
  .container {
    max-width: 1200px; }
  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
    .alert:after {
      content: '';
      padding: 1rem;
      width: 93%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid #b7b3b3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0; }
  .footer {
    max-width: 575px;
    padding-right: 6px; } }

@media screen and (max-width: 1199px) {
  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
    .alert:after {
      content: '';
      padding: 1rem;
      width: 92%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid #b7b3b3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0; }
  .footer {
    max-width: 455px;
    padding-right: 6px;
    margin-left: -225px; } }

@media screen and (max-width: 1199px) and (min-width: 992px) {
  html {
    font-size: 18px; } }

@media screen and (max-width: 991px) {
  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
    .alert:after {
      content: '';
      padding: 1rem;
      width: 91%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid #b7b3b3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0; }
  .footer {
    max-width: 335px;
    padding-right: 6px;
    margin-left: -165px; } }

@media screen and (max-width: 767px) {
  html {
    font-size: 16px; }
  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
    .alert:after {
      content: '';
      padding: 1rem;
      width: 94%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid #b7b3b3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0; }
  .footer {
    max-width: 100%;
    left: 0;
    margin-left: 0;
    padding-right: 6px; } }

@media screen and (max-width: 575px) {
  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 149, 206, 0.11)), to(rgba(252, 109, 186, 0.11)));
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%); }
    .alert:after {
      content: '';
      padding: 1rem;
      width: 89%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid #b7b3b3;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      position: absolute;
      bottom: 0; }
  .footer {
    max-width: 100%;
    padding-right: 0; } }
