@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }

  .container {
    max-width: 1200px;
  }

  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%);
    &:after {
      content: '';
      padding: 1rem;
      width: 93%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    max-width: 575px;
    padding-right: 6px;
  }
}

@media screen and (max-width: 1199px) {

  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%);
    &:after {
      content: '';
      padding: 1rem;
      width: 92%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    max-width: 455px;
    padding-right: 6px;
    margin-left: -225px;
  }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {

  html {
    font-size: 18px;
  }
}

@media screen and (max-width: 991px) {

  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%);
    &:after {
      content: '';
      padding: 1rem;
      width: 91%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    max-width: 335px;
    padding-right: 6px;
    margin-left: -165px;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {

}

@media screen and (max-width: 767px) {

  html {
    font-size: 16px;
  }

  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%);
    &:after {
      content: '';
      padding: 1rem;
      width: 94%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    max-width: 100%;
    left: 0;
    margin-left: 0;
    padding-right: 6px;
  }
}

@media screen and (max-width: 767px) and (min-width: 576px) {

}

@media screen and (max-width: 575px) {

  .alert {
    margin: 0 -1rem;
    padding: 1rem;
    background-color: #f7f5f5;
    background-image: linear-gradient(to top, rgba(255, 149, 206, 0.11) 0%, rgba(252, 109, 186, 0.11) 100%);
    &:after {
      content: '';
      padding: 1rem;
      width: 89%;
      text-align: center;
      margin: 0 auto;
      height: 2px;
      border-bottom: 1px solid $grey;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
    }
  }
  .footer {
    max-width: 100%;
    padding-right: 0;
  }
}