// Colors
$white: white;
$black: #222328;
$brown: #cb6316;
$grey: #b7b3b3;
$grey-section: #f7f5f5;
$link-color: #0059e2;

// Backgrounds colors
$bg-light-color: $white;

// Borders colors
$border-default-color: #b3b3b3;

// Texts colors
$black: #222328;

// Fonts
$icons-font-regular: 'FontAwesome Solid';
$icons-font-solid: 'FontAwesome Solid';
$icons-font-brands: 'FontAwesome Brands';
$font-main: Roboto, sans-serif;

//Roboto
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto.ttf');
  src: url('../fonts/roboto/Roboto.woff2') format('woff2'), url('../fonts/roboto/Roboto.woff') format('woff'), url('../fonts/roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Robotolight.ttf');
  src: url('../fonts/roboto/Robotolight.woff2') format('woff2'), url('../fonts/roboto/Robotolight.woff') format('woff'), url('../fonts/roboto/Robotolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Robotothin.ttf');
  src: url('../fonts/roboto/Robotothin.woff2') format('woff2'), url('../fonts/roboto/Robotothin.woff') format('woff'), url('../fonts/roboto/Robotothin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Robotomedium.ttf');
  src: url('../fonts/roboto/Robotomedium.woff2') format('woff2'), url('../fonts/roboto/Robotomedium.woff') format('woff'), url('../fonts/roboto/Robotomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Robotobold.ttf');
  src: url('../fonts/roboto/Robotobold.woff2') format('woff2'), url('../fonts/roboto/Robotobold.woff') format('woff'), url('../fonts/roboto/Robotobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

//Icons font
@font-face {
  font-family: 'FontAwesome Regular';
  src: url('../fonts/fontawesome/fa-regular-400.eot');
  src: url('../fonts/fontawesome/fa-regular-400.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-regular-400.woff2') format('woff2'), url('../fonts/fontawesome/fa-regular-400.woff') format('woff'), url('../fonts/fontawesome/fa-regular-400.ttf') format('truetype'), url('../fonts/fontawesome/fa-regular-400.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome Solid';
  src: url('../fonts/fontawesome/fa-solid-900.eot');
  src: url('../fonts/fontawesome/fa-solid-900.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-solid-900.woff2') format('woff2'), url('../fonts/fontawesome/fa-solid-900.woff') format('woff'), url('../fonts/fontawesome/fa-solid-900.ttf') format('truetype'), url('../fonts/fontawesome/fa-solid-900.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome Brands';
  src: url('../fonts/fontawesome/fa-brands-400.eot');
  src: url('../fonts/fontawesome/fa-brands-400.eot') format('embedded-opentype'), url('../fonts/fontawesome/fa-brands-400.woff2') format('woff2'), url('../fonts/fontawesome/fa-brands-400.woff') format('woff'), url('../fonts/fontawesome/fa-brands-400.ttf') format('truetype'), url('../fonts/fontawesome/fa-brands-400.svg#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// box-shadow
$box-shadow-default: 0 0 .5rem 0 rgba($black,.3);

// border-radius
$border-radius-default: 0;

// Animations by CSS 3
$transition-default: all .33s;