@import "variables";
@import "default";
@import "buttons";
@import "inputs";
@import "selects";


//font: 400 1.5rem/1.7rem $font-main;
//&:hover, &focus {
//
//}

main {

  //height: calc(100vh - 3.375rem);
  height: 100vh;
}

.counter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;

  &__input {
    max-width: 2.1875rem;
    border: 1px solid $grey;
    //border-top: 0;
    //border-bottom: 0;
    text-align: center;
  }
  &__minus {
    width: 1.3rem;
    height: 1.3rem;
    background-color: $grey;
    text-align: center;
    font: 400 1.125rem/1.25rem $font-main;
    cursor: pointer;
  }
  &__plus {
    width: 1.3rem;
    height: 1.3rem;
    background-color: $brown;
    color: $white;
    text-align: center;
    font: 400 1.125rem/1.25rem $font-main;
    cursor: pointer;
  }
}

.check-block {
  padding-bottom: 2rem;
}

.desc-img {
  margin: 0 3px;
}

.first-slide {
  padding-top: 1rem;

  &__desc {
    font: 500 0.75rem/1.125rem $font-main;
    margin-bottom: 1rem;
  }
}

.footer {
  color: $white;
  position: fixed;
  bottom: 0;
  left:50%;
  margin-left: -285px;
  //left: 30%;
  //transform: translateX(calc(30vw - 10%));
  width: 100%;
  min-height: 108px;
  display: flex;
  align-items: flex-end;

  &__desc {
    width: 100%;
    text-align: center;
    font: 500 0.8125rem/1.375rem $font-main;
    text-transform: uppercase;
    padding: 1rem 0;
    cursor: pointer;
    background-color: $brown;
  }
  &__desc-black {
    width: 100%;
    background-color: $black;
    text-align: left;
    font: 500 0.8125rem/1.375rem $font-main;
    text-transform: uppercase;
    padding: 1rem 2rem;
    display: none;
    color: $white;
    & > span {
      font: 700 0.8125rem/1.375rem $font-main;
    }
  }
}

.header {
  padding: 0 0.9375rem;
  border-bottom: 1px solid $grey;
}

.main-block {
  margin-bottom: 1rem;

  &__title {
    background-color: $brown;
    padding: 0.625rem 0.9375rem;
    color: $white;
    font: 500 1rem/1.375rem $font-main;
  }
  &__main-title-block {
    padding: 0 0.9375rem 1px 0.9375rem;
    background-color: $grey-section;
  }
  &__title-block {
    background-color: $grey-section;
    border-bottom: 1px solid $grey;
  }
  &__mini-title {
    font: 500 0.75rem/1rem $font-main;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.nav {
  padding: 1rem 0;

  &__link {
    color: $black;
    font: 500 0.6875rem/1.2rem $font-main;
    display: flex;
    & > span {
      width: 1.125rem;
      height: 1.125rem;
      background-color: $grey;
      border-radius: 50%;
      margin-right: 0.5rem;
      text-align: center;
      color: $white;
      font: 500 0.6875rem/1.2rem $font-main;
      &.active-link {
        background-color: $brown;
      }
    }
    &:hover, &focus {
      color: $black;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    padding-right: 1rem;
    cursor: pointer;
  }
}

.price-block {
  text-align: right;

  &__for-digger {
    font: 700 0.8125rem/0.9375rem $font-main;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }
  &__value {
    font: 700 0.6875rem/0.8125rem $font-main;
    margin-bottom: 0.4rem;

    & > span {
      font: 700 0.6875rem/0.8125rem $font-main;
    }
    & > sup {
      font: 700 0.5rem/0.5rem $font-main;
    }
  }
  &__total {
    font: 700 1rem/1.125rem $font-main;
    text-transform: uppercase;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
  }
  &__desc {
    font: 700 0.6875rem/0.8125rem $font-main;
  }
}

.slider {
  overflow-y: auto;
  height: calc(100vh - 10rem);

  &::-webkit-scrollbar-thumb {
    background-repeat: no-repeat;
    background-color: $brown;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
}

.second-slide {
  padding: 0.9375rem 0 0 0;
  margin-bottom: 6rem;
}

.third-slide {
  padding: 1rem;

  &__desc {
    font: 500 0.75rem/1.125rem $font-main;
    margin-bottom: 1rem;
    &.second {
      margin-bottom: 1rem;
    }
  }
  &__input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid $grey;
    padding: 0.8rem 0;
    margin-bottom: 0.5rem;
  }
  &__img {
    width: 100%;
  }
}

.card {
  height: 30rem;
  border: 1px solid $border-default-color;
  border-radius: 3.125rem;
  margin: 0 auto 1rem auto;
  &:hover, &:focus {
    cursor: pointer;
    transition: all 0.5s;
    transform: scale3d(1.01, 1.01, 1);
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, .2), 0 6px 40px 0 rgba(0, 0, 0, .15);
  }

  &__img-block {
    border-top-left-radius: 3.125rem;
    border-top-right-radius: 3.125rem;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 13.75rem;
    display: flex;
    overflow: hidden;
  }
  &__effective-block {
    padding: 1rem;
    display: flex;
    &-total {
      text-transform: uppercase;
    }
    &-right {
      display: flex;
      align-items: center;
    }
    &-left {
      min-width: 13.75rem;
      position: relative;
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-30%, -13%);
        display: block;
        font: 100 6.5rem/7rem $font-main;
        background-size: 2rem;
        content: '}';
        cursor: pointer;
      }
    }
    &-total {
      font: 400 1rem/1.4rem $font-main;
    }
    &-arg {
      font: 400 0.9rem/1.5rem $font-main;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__title-block {
    padding: 1.5rem 1rem 0 1rem;
  }
  &__link-online {
    padding-top: 0.2rem;
    text-align: center;
    font: 400 1rem/1.2rem $font-main;
  }
  &__link {
    font: 500 1.9rem/2.1rem $font-main;
    display: block;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
    &.b-line {
      padding-bottom: 0.4rem;
      margin-bottom: 0.4rem;
      border-bottom: 3px solid $link-color;
    }
  }
}

@import "modals";
@import "media";